doctype html 
html 
    head

    body 
        p Hi #{name},
        p 
        p Your password has been successfully resetted!
        p Your new password is: 
        p 
        p <b> #{newPassword} </b>
        p 
        p 
        p Regards
        p TVEW