doctype html 
html 
    head

    body 
        p Hi #{name},
        p 
        p You have successfully changed your password!
        p Your new password is: <b> #{newPassword} </b>. 
        p In case your password was resetted, please change your password
        p 
        p 
        p Regards
        p TVEW